# Scilab generates these by itself
cleaner.sce
loader.sce
libsymphonytools.c

# Libraries
*.so

# gedit temporary files
*~

# Generated help files
help/master_help.xml
help/scilab_help_help/*

# Other
*.pdf
*.gz
